* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.clearfix::before,
.clearfix::after{
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

.spot {
  float: left;
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #000;
}
